
.spacer {
	margin-top: 20px; /* define margin as you see fit */
}

#input-orcid {
	display:none;
}

#preselect {
	display:none;
}

#license-overview-tab {
	height:250px;
}

#license-text-tab {
	height:250px;
}

#input-api-token {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.prospect-field {
	resize:none;
	overflow-y:auto;
	display: inline-block;
	width:510px;
	border: 1px solid #cccccc;
	padding: 4px 6px;
	margin-bottom:0px;
	font-size:14px;
	line-height:20px;
	color: #999;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fcfcfc;
	padding-top:4px;
	padding-right:6px;
	padding-bottom:4px;
	padding-left:6px;
}

.license-row {
	cursor: pointer;
}


.license-text {
	width:510px;
	height:200px;
}

.license-description {
	width:510px;
	height:75px;
}

.review-license .modal-body {
	max-height: 800px;
}


/* Review Table site, etc. */

.c1 {
	width:70%;
}
.c2 {
	width:15%;
}
.c3 {
	width:15%;
}

/* License Table site, etc. */

.lc1 {
	width:60%;
}
.lc2 {
	width:10%;
}
.lc3 {
	width:10%;
}
.lc4 {
	width:10%;
}
.lc5 {
	width:10%;
}

/* Stuff for scrolling licenses table */
.scrollable {
	overflow-y: scroll;
}

.bodycontainer {
	height: 100px !important;
	width: 100%;
}

/* publisher page */
.cr-yellow {
	color: rgb(195, 205, 127);
}

.cr-red {
	color: rgb(167, 81, 74);
}

.cr-blue {
	color: rgb(107, 163, 197);
}

.cr-yellow-dark {
}

.cr-red-dark {
}

.cr-blue-dark {
	color: rgb(6, 116, 153);
}

.cr-yellow-light {
	color: rgb(265, 275, 197);
}

.cr-red-light {
	color: rgb(197, 91, 104);
}

.cr-blue-light {
	color: rgb(137, 193, 227);
}

.cr-yellow-light-bg {
	background-color: rgb(215, 225, 147);
}

.cr-red-light-bg {
	background-color: rgb(217, 111, 124);
}

.cr-blue-light-bg {
	background-color: rgb(157, 213, 247);
}

.lead li {
	padding: .2em;
	line-height: 1.2em;
}

.full-width {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.very-tall {
	height: 15em;
}

.step-tab.off {
	color: grey;
	background-color: white;
}

.circle {
	padding: .1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

.header-row img {
	width: 15em;
}

.step-tab {
	font-size: 1.3em;
	padding: .5em;
}

.step-number {
	font-size: 1.4em;
}

.steps-row {
	margin-bottom: 3em;
}

.bg-grey {
	background-color: #efefef;
}

.citation-row p {
	font-size: 1.3em;
}

.citation-row:hover {
	border-color: rgb(58, 135, 173);
} 

.result-row:hover {
	background-color: #efefef;
	cursor: pointer;
}

table.table {
	border-top: none;
}

#search-result {
	font-size: 1.6em;
	line-height: 1.1em;
}

.loader {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

.dashed-well {
	margin-top: 4em;
	border: 2px dashed grey;
	cursor: pointer;
}

.success-dashed-well {
	margin-top: 4em;
	border: 2px dashed green;
}

.row-time-info {
	margin-right: 3em;
	color: #777;
}

.cell-left {
	width: 11em;
}

.cell-right {
	text-align: right;
}

ul.inline > li {
	padding-right: 5px;
	display: inline-block;
}

ul.dropdown-menu a {
	line-height: 1.6em;
	font-size: .8em;
}

.slim {
	margin-top: 0px;
}

#header-logo {
	width: 12em;
}

.citation-controls {
	display: none;
	text-align: right; 
	position: absolute; 
	right: 5px; 
	bottom: 0px;
}

.citation-body {
	position: relative;
}

.field-label {
	text-transform: uppercase;
	color: #a3a3a3;
	font-size: 0.6em;
	text-align: right;
	margin-right: 1em;
	width: 6em;
}

.field-value {
	font-size: 1em;
}











    body {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    /* Custom container */
    .container-narrow {
        margin: 0 auto;
        max-width: 700px;
    }
    .container-narrow > hr {
        margin: 30px 0;
    }

    /* Main marketing message and sign up button */
    .jumbotron {
        margin: 60px 0;
        text-align: center;
    }
    .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
    }
    .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
    }

    /* Supporting marketing content */
    .marketing {
        margin: 30px 0;
    }
    .marketing p + h4 {
        margin-top: 28px;
    }