<h2>{{license.title}}</h2>

<div ng-show="license.status==consts.LICENSE_STATUS_PUBLISHED">
	<blockquote>
		<p>Researchers can review these terms and conditions at <a href="{{consts.REVIEWERS_BASE_URL}}{{license.uri}}">{{consts.REVIEWERS_BASE_URL}}{{license.uri}}</a></p>
	</blockquote>
</div>

<table class="table table-bordered">
	<tr>
		<td style="width: 10em">Status</td>
		<td><license-status-badge status="{{license.status}}"></license-status-badge></td>
	</tr>
	<tr>
		<td>Reviews</td>
		<td>
			<span ng-show="license.accepts>0"class="badge badge-success">Accepted: {{license.accepts}}</span>
			<span ng-show="license.rejects>0"class="badge badge-important">Rejected: {{license.rejects}}</span>
			<span ng-show="license.postpones>0"class="badge badge-inverse">Postponed: {{license.postpones}}</span>
		</td>
	</tr>
	<tr>
		<td>URI</td>
		<td>{{license.uri}}</td>
	</tr>
	<tr>
		<td>Description</td>
		<td>{{license.description}}</td>
	</tr>
	<tr>
		<td>Full text</td>
		<td><div markdown-view ng-model="license.full_text"></div></td>
	</tr>
</table>

<div ng-show="license.owned==true">
	<button class="btn" ng-show="license.status==consts.LICENSE_STATUS_DRAFT" ng-click="edit()">Edit</button>

	<button class="btn btn-danger" ng-show="license.status==consts.LICENSE_STATUS_DRAFT" ng-click="delete()">Delete</button>

	<button class="btn" ng-show="license.status==consts.LICENSE_STATUS_DELETED" ng-click="undelete()">Un-Delete</button>


	<button class="btn btn-success" ng-show="license.status==consts.LICENSE_STATUS_DRAFT" ng-click="publish()">Publish</button>

	<div ng-show="license.status==consts.LICENSE_STATUS_PUBLISHED">
	<button class="btn" ng-show="license.status==consts.LICENSE_STATUS_PUBLISHED" ng-click="redraft()">Attempt Redraft</button>

	<button class="btn" ng-show="license.status==consts.LICENSE_STATUS_PUBLISHED" ng-click="retire()">Retire</button>
	</div>

	<div class="alert alert-error" ng-show="redraftError">
	{{redraftError}}
	</div>
</div>


<div ng-show="license.global==true&&license.owned==false">
	<button class="btn" ng-show="globalLicense.used==false" ng-click="use(true)">Use this license</button>
	<button class="btn" ng-show="globalLicense.used==true" ng-click="use(false)">Don't use this license</button>
</div>

</form>