<h2>Create/edit your terms and conditions</h2>

<div class="pull-left">
<form name="editLicense" role="form">
		<div>
			<label for="title">Name (e.g. 'Journal of Psychoceramics text and data mining agreement')</label>
			<input name="title" id="title" type="text" ng-model="license.title" required />
			<div class="alert alert-error" ng-show="editLicense.title.$invalid">Please give a name.</div>
		</div>


		<div>
			<label for="description">Description (a brief summary of the agreement)</label>
			<textarea name="description" ng-model="license.description" required>{{license.description}}</textarea>
			<div class="alert alert-error" ng-show="editLicense.description.$invalid">Please give a description</div>
		</div>

		<div>
			<label for="uri">URI (please give the URI of a location on your website where the agreement can be located)</label>
			<input name="uri" id="uri" type="url" ng-model="license.uri" required />
			<div class="alert alert-error" ng-show="editLicense.uri.$invalid">Please give a valid URI</div>
		</div>


		<p>If you have a <a href="http://daringfireball.net/projects/markdown/">Markdown</a> file you can drag and drop it into this box. In visual mode double-click on text to format.</p>

		<ul class="nav nav-tabs">
		  <li ng-class="{'active':editType=='wysiwyg'}">
		    <a ng-click="editType='wysiwyg'">Visual</a>
		  </li>
		  <li ng-class="{'active':editType=='markdown'}">
			  <a ng-click="editType='markdown'">Markdown</a>
		  </li>
		</ul>

		<div ng-show="editType=='markdown'">
			<label for="full-text">Text</label>
			<textarea class="well well-large" name="full-text" id="full-text" ng-model="license.full_text" style="min-height: 200px; width: 840px" required>{{license.full_text}}</textarea>
			<div class="alert alert-error" ng-show="editLicense.full_text.$invalid">Please give full text</div>
		</div>

		<div ng-show="editType=='wysiwyg'">
			<label for="full-text">Text</label>
			<div class="well well-large" style="min-height: 200px; width: 840px" hallo-editor ng-model="license.full_text"></div>
			<div class="alert alert-error" ng-show="editLicense.full_text.$invalid">Please give full text</div>
		</div>
		
		<p>You will have the opportunity to review this agreement before publishing it.</p>
		<button class="btn" ng-disabled="editLicense.$invalid" ng-click="save()">Save and continue</button>
		<a class="btn" href="#/tc/{{license.id}}/">Cancel</a>
</form>

<div class="alert alert-error" ng-show="errorText">
{{errorText}}
</div>
</div>
