<form ng-show="editOrgName">
  <fieldset>
    <label>Organisation Name</label>
    <input type="text" placeholder="Example Publisher" ng-model="publisherNameField"><br />
    <button class="btn" ng-click="cancelNameField()">Cancel</button>
    <button type="submit" class="btn" ng-click="saveNameField()">Save</button>
  </fieldset>
</form>

<div ng-hide="editOrgName">
<p class="lead">Welcome to CrossRef's click-through service for text and data mining. Here you can add your terms and conditions for text and data mining, to allow researchers to review and accept these T&amp;Cs.</p>

<h3>Publisher Name: {{ publisherNameField }}<span ng-hide="publisherNameField">Not given</span></h3>
<button class="btn" ng-click="startEditOrgName()">Edit organisation name</button>
</div>

<div class="alert alert-error" ng-show="publisherName==''">
Please supply the name of your organisation before continuing. This will help researchers identify terms and conditions.
</div>

<div ng-show="publisherName!=''">

<h2>Your text and data mining terms and conditions</h2>
<p>Here you can add, edit and publish the text of your terms and conditions for text and data mining.</p>

<a href="#/tc/new" class="btn">Add a text and data mining agreement</a>
{{by}}
<table class="table table-striped">
  <thead>
  <tr>
    <th ng-click="orderNonGlobalByField='title'; reverseNonGlobalSort = !reverseNonGlobalSort">
    Agreement Name
    <sort-marker column="title" by="orderNonGlobalByField" order="reverseNonGlobalSort"></sort-marker>
    </th>
    <th ng-click="orderNonGlobalByField='status'; reverseNonGlobalSort = !reverseNonGlobalSort">
    Status
    <sort-marker column="status" by="orderNonGlobalByField" order="reverseNonGlobalSort"/>
    </th>
    <th ng-click="orderNonGlobalByField='accepts'; reverseNonGlobalSort = !reverseNonGlobalSort">
    Accepted by
    <sort-marker column="accepts" by="orderNonGlobalByField" order="reverseNonGlobalSort"/>
    </th>
    <th ng-click="orderNonGlobalByField='rejects'; reverseNonGlobalSort = !reverseNonGlobalSort">
    Rejected by
    <sort-marker column="rejects" by="orderNonGlobalByField" order="reverseNonGlobalSort"/>
    </th>
    <th ng-click="orderNonGlobalByField='postpones'; reverseNonGlobalSort = !reverseNonGlobalSort">
    Postponed by
    <sort-marker column="postpones" by="orderNonGlobalByField" order="reverseNonGlobalSort"/>
    </th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="license in licenses|orderBy:orderNonGlobalByField:reverseNonGlobalSort">
    <td>{{license.title}}</td>
    <td><status-badge license="license"></status-badge></td>
    <td>{{license.accepts}}</td>
    <td>{{license.rejects}}</td>
    <td>{{license.postpones}}</td>
    <td><a href="#/tc/{{license.id}}">View</a></td>
  </tr>
  </tbody>
</table>


<h2>Community Terms and Conditions</h2>
<p>As and when industry-standard agreements are published they will appear here to give you the option to "adopt" these T&amp;Cs for your content.</p>
<table class="table table-striped">
  <thead>
  <tr>
    <th ng-click="orderGlobalByField='title'; reverseGlobalSort = !reverseGlobalSort">
    Agreement Name
    <sort-marker column="title" by="orderGlobalByField" order="reverseGlobalSort"/>
    </th>
    <th ng-click="orderGlobalByField='used'; reverseGlobalSort = !reverseGlobalSort">
    Adopted
    <sort-marker column="used" by="orderGlobalByField" order="reverseGlobalSort"/>
    </th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="license in community|orderBy:orderGlobalByField:reverseGlobalSort">
    <td>{{license.title}}</td>
    <td><span ng-show="license.used">&#x2714;</span><span ng-show="!license.used">&#x2716;</span></td>
    <td><a href="#/tc/{{license.id}}">View</a></td>
  </tr>
  </tbody>
</table>
