<h2>Log in</h2>

<p class="lead">The CrossRef Click-through service allows you to add, edit and publish terms and conditions for text and data mining.</p>

<p>Please enter your CrossRef authentication details.</p>

<div class="alert alert-error" ng-show="errorMessage!=null">{{errorMessage}}</div>
<form ng-submit="login()" >
<label for="username">User name<br />
    <input ng-model="username" id="username" type="text" placeholder="username" /></label>
    
<label for="username">Password<br />
<input ng-model="password" id="password" type="password" placeholder="password" /></label><br />
<button type="submit" class="btn btn-primary">Login</button>
</form>

<p>If you have forgotten or don't know your details please email support@crossref.org </p>
