<h2>Publisher API Token</h2>

<p class="lead">Your API token enables you to communicate with the click-through service. If you believe your token has become compromised you should revoke it. You will then be given a new token.</p>

<div class="well well-large">
<p>Your token: <input class="input-block-level" type="text" value="{{token}}"></p>
</div>


<button class="btn" ng-disabled="!token" ng-click="revokeToken()">Revoke and renew your token</button>
