<h2>Please log in with ORCID</h2>

<div class="row">
  <div class="span2"><img style="margin-left: auto; margin-right: auto; width: 128px" src="img/orcid_128x128.png" alt="ORCID logo" /></div>
  <div class="span8">
    <p class="lead">The Click-through Service uses ORCID to identify you.</p>
    <p><button ng-click="showPopup()" class="btn btn-large btn-primary">Log in with ORCID</button></p>
    <div class="alert alert-block" ng-show="popupShown">
      <h4>Popup blockers</h4>
      <p>If the login window doesn't show please allow popups in your browser and refresh this page.</p>
      <p>If you have any problems please email support@crossref.org</p>
    </div>
  </div>
</div>


