<h2>API Token</h2>

<p class="lead">Your API token enables publishers to check which terms and conditions you have agreed to. If you belive your token has become compromised you should revoke it. You then will be given a new token.</p>

<div class="well well-large">
<p>Your token: <input class="input-block-level" type="text" value="{{token}}"></p>
</div>


<button class="btn" ng-disabled="!token" ng-click="revokeToken()">Revoke and renew your token</button>
