<h2>{{review.title}}</h2>

<table class="table table-bordered">
    <tr>
        <td style="width: 10em">Status</td>
        <td><review-status-badge review="review"></review-status-badge></td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{review.description}}</td>
    </tr>

    <tr ng-show="review.global==true">
        <td>Applies to</td>
        <td>
            <p>The following have adopted this standard agreement for text and data mining.</p>
            <used-by-authors license="review"></used-by-authors></td>
    </tr>
    <tr ng-show="review.global!=true">
        <td>Created by</td>
        <td>{{review.created_by_name}}</td>
    </tr>
    <tr>
        <td>Full text</td>
        <td><div markdown-view ng-model="review.full_text"></div></td>
    </tr>
</table>
<p>Please note that once you have accepted an agreement you cannot subsequently reject it. If you are unsure select "I will review again later". If you reject an agreement you can change your mind and accept it, and your API token will be updated.</p>

<!-- If the license has been retired, don't allow review. -->
<div ng-show="review.license_status==consts.LICENSE_STATUS_PUBLISHED">
    <p><button class="btn btn-medium" ng-show="review.status=='unreviewed'||review.status=='postponed'||review.status=='rejected'" ng-click="accept()">I accept this agreement</button></p>
    <p><button class="btn btn-medium" ng-show="review.status=='unreviewed'" ng-click="postpone()">I will review again later</button></p>
    <p><button class="btn btn-medium" ng-show="review.status=='unreviewed'||review.status=='postponed'" ng-click="reject()">I do not accept this agreement</button></p>
</div>

<br />

<div class="alert alert-info" ng-show="review.license_status==consts.LICENSE_STATUS_RETIRED&&review.status=='not-accepted'">
This agreement has been retired by its author. You may not review it.
</div>

<div class="alert alert-info" ng-show="review.status=='accepted'">
You accepted this agreement {{review.reviewed_at|niceDate}}. You may not reject it.
</div>


<div class="alert alert-info" ng-show="review.status=='rejected'">
You rejected this agreement on {{review.reviewed_at|niceDate}} but you may accept it.
</div>