<p class="lead">Welcome to CrossRef's click-through service for text and data mining. Here you can review publishers' terms and conditions for text and data mining. You have the opportunity to accept or reject these agreements or postpone your decisions until later. When you agree to a publishers' terms and conditions this action will be logged against your API token. You can then use this API token to request full text from the publisher (subscription permitting).</p>

<h2>Common agreements used by multiple publishers</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th ng-click="orderGlobalByField='title'; reverseGlobalSort = !reverseGlobalSort">Agreement name
      <sort-marker column="title" by="orderGlobalByField" order="reverseGlobalSort"/>
    </th>
    <th>Publishers</th>
    <th ng-click="orderGlobalByField='status'; reverseGlobalSort = !reverseGlobalSort">Status
      <sort-marker column="status" by="orderGlobalByField" order="reverseGlobalSort"/>
    </th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="license in globalLicenses|orderBy:orderGlobalByField:reverseGlobalSort">
    <td><a href="#/tc/{{license.uri}}">{{license.title}}</a></td>
    <td><used-by-authors license="license"></used-by-authors></td>
    <td><review-status-badge review="license" /></td>
    <td><a href="#/tc/{{license.uri}}" class="btn">view</a></td>
  </tr>
  </tbody>
</table>

<h2>Publisher-Specific Agreements</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th ng-click="orderNonGlobalByField='created_by_name'; reverseNonGlobalSort = !reverseNonGlobalSort">Publisher Name
    <sort-marker column="created_by_name" by="orderNonGlobalByField" order="reverseNonGlobalSort"/>
    </th>
    <th ng-click="orderNonGlobalByField='title'; reverseNonGlobalSort = !reverseNonGlobalSort">Terms and Conditions
    <sort-marker column="title" by="orderNonGlobalByField" order="reverseNonGlobalSort"/>
    </th>
    <th ng-click="orderNonGlobalByField='status'; reverseNonGlobalSort = !reverseNonGlobalSort">
    Status
    <sort-marker column="status" by="orderNonGlobalByField" order="reverseNonGlobalSort"/>
    </th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="license in nonGlobalLicenses|orderBy:orderNonGlobalByField:reverseNonGlobalSort">
    <td>{{license.created_by_name}}</td>
    <td><a href="#/tc/{{license.uri}}">{{license.title}}</a></td>
    <td><review-status-badge review="license" /></td>
    <td><a href="#/tc/{{license.uri}}" class="btn">view</a></td>
  </tr>
  </tbody>
</table>