<p ng-hide="names">
</p>

<ul ng-show="!fullViewState" style="list-style: inline">
<li style="list-style: inline" ng-repeat="name in names|limitTo:3">{{name}}</li>
</ul>

<button class="btn btn-mini" ng-show="!fullViewState&&names.length>3" ng-click="toggle()">full list</button>

<ul ng-show="fullViewState">
<li ng-repeat="name in names">{{name}}</li>
</ul>

<button class="btn btn-mini" ng-show="fullViewState" ng-click="toggle()">less</button>